<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <% @users.each do |user| %>
          <% next if user == current_user %>
          <hr>
          <div class="level is-mobile" style="margin: 20px">
            <div class="level-left">
              <%= link_to user.username, user_path(user), class: "title is-5" %>
            </div>
            <div class="level-right">
              <% invitation = Invitation.find_by(event_id: params[:event_id], attendee_id: user.id) %>
              <% if invitation.nil? %>
                <%= link_to "Invite",
                            invitations_path(event_id: params[:event_id], attendee_id: user.id),
                            method: :post,
                            class: "button is-small is-link" %>
              <% else %>
                <button class="button is-small is-link" disabled>Invited</button>
              <% end %>
            </div>
          </div>
        <% end %>
        <hr>
      </div>
    </div>
  </div>
</section>
